<!--footer-->
<!--using inline css to colour footer as well-->
<nav class="navbar fixed-bottom navbar-dark" style="background-color:#40E0D0;">
  <a class="navbar-brand" href="#"></a>
  <h6 class="navbar-text">&copy; Copyright 2025. All Rights Reserved.</h6>
</nav>